.clock {
  background: #fff url(../img/clockface.png) no-repeat center;
  top: 0;
  right: 0;
  position: relative;
  height: 25em;
  width: 25em;
  padding: 0;
  margin: 1em auto;
  border-radius: 50%;
  overflow: hidden; }

.hour {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 170%;
  text-align: center;
  user-select: none;
  transform: skewY(60deg) rotate(15deg);
  padding-top: 0px; }

li {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%; }

li:hover {
  opacity: 0.5;
  background: grey; }

li:nth-child(1) {
  transform: rotate(15deg) skewY(-60deg); }

li:nth-child(2) {
  transform: rotate(45deg) skewY(-60deg); }

li:nth-child(3) {
  transform: rotate(75deg) skewY(-60deg); }

li:nth-child(4) {
  transform: rotate(105deg) skewY(-60deg); }

li:nth-child(5) {
  transform: rotate(135deg) skewY(-60deg); }

li:nth-child(6) {
  transform: rotate(165deg) skewY(-60deg); }

li:nth-child(7) {
  transform: rotate(195deg) skewY(-60deg); }

li:nth-child(8) {
  transform: rotate(225deg) skewY(-60deg); }

li:nth-child(9) {
  transform: rotate(255deg) skewY(-60deg); }

li:nth-child(10) {
  transform: rotate(285deg) skewY(-60deg); }

li:nth-child(11) {
  transform: rotate(315deg) skewY(-60deg); }

li:nth-child(12) {
  transform: rotate(345deg) skewY(-60deg); }

.form {
  position: relative; }
