<div>
  <ul class='clock'>
    {{> _slice type='hour' clockNo='1'}}
    {{> _slice type='hour' clockNo='2'}}
    {{> _slice type='hour' clockNo='3'}}
    {{> _slice type='hour' clockNo='4'}}
    {{> _slice type='hour' clockNo='5'}}
    {{> _slice type='hour' clockNo='6'}}
    {{> _slice type='hour' clockNo='7'}}
    {{> _slice type='hour' clockNo='8'}}
    {{> _slice type='hour' clockNo='9'}}
    {{> _slice type='hour' clockNo='10'}}
    {{> _slice type='hour' clockNo='11'}}
    {{> _slice type='hour' clockNo='12'}}
  <ul>
</div>
