<!doctype html>
<head>
	<title>Time picker by Waseem Akbar</title>
	<!--build:css css/styles.min.css-->
	<link rel='stylesheet' type='text/css' href='tmp/clock.css'>
	<!--endbuild -->
	<!--build:js js/main.min.js -->
	<script src='scripts/script.js'></script>
	<!-- endbuild -->
</head>
<body>
  {{> _hour-clock }}
	<div class='form'>
	  <form action='/selected-time.html'>
	      Hours:<br>
	    <input type='text' id='hoursInput' value=''>
	      <br>
	      Minutes:<br>
	    <input type='text' id='minutesInput' value=''>
	      <br><br>
	    <input type='submit' value='Submit'>
	  </form>
	</div>
</body>
