<div>
  <ul class='clock'>
    {{ > slice type='minute' clockNo='5'}}
    {{ > slice type='minute' clockNo='10'}}
    {{ > slice type='minute' clockNo='15'}}
    {{ > slice type='minute' clockNo='20'}}
    {{ > slice type='minute' clockNo='25'}}
    {{ > slice type='minute' clockNo='30'}}
    {{ > slice type='minute' clockNo='35'}}
    {{ > slice type='minute' clockNo='40'}}
    {{ > slice type='minute' clockNo='45'}}
    {{ > slice type='minute' clockNo='50'}}
    {{ > slice type='minute' clockNo='55'}}
    {{ > slice type='minute' clockNo='60'}}
  <ul>
</div>
