<div>
  <ul class='minute-clock'>
    {{> _slice type='minute' clockNo='5'}}
    {{> _slice type='minute' clockNo='10'}}
    {{> _slice type='minute' clockNo='15'}}
    {{> _slice type='minute' clockNo='20'}}
    {{> _slice type='minute' clockNo='25'}}
    {{> _slice type='minute' clockNo='30'}}
    {{> _slice type='minute' clockNo='35'}}
    {{> _slice type='minute' clockNo='40'}}
    {{> _slice type='minute' clockNo='45'}}
    {{> _slice type='minute' clockNo='50'}}
    {{> _slice type='minute' clockNo='55'}}
    {{> _slice type='minute' clockNo='60'}}
  <ul>
</div>
